@use 'variaveis';

.hero {
    padding: 5.6vw;
    min-height: 100vh;
    background-image: url(../images/image_fundo_hero.jpg);
    text-align: center;
    background-size: cover;
    background-position: center; 

    &__content {
        max-width: 50%;

        &__branding {
            max-width: 100px;
            margin: 0 auto 96px;
        }

        .title--small {
            margin-bottom: 100px;
            text-align: center;
        }

        span {
            margin-bottom: 20px;
            color: variaveis.$cordeFundo;
            cursor: pointer;
        }

        &__combos {
            display: flex;
            justify-content: space-between;

            &__combo {
                width: calc(50% - 65px);

                img {
                    max-height: 260px;
                    cursor: pointer;
                }
            }
        }
    }
}